<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/test.js"></script>
  </head>
  <body>
    <h1>NodeJS with <%= title %></h1>
    <p>Welcome to NodeJS done with <%= title %></p>
    <br />
    <h2>Learning Web site for NodeJS & <%= title %></h2>
    <p>Done by <%= name %></p>
    <div>
      <img class="img" src="/images/expressjs.jpg" alt="">
    </div>
    <div>
      <p id="demo"></p>
    </div>

  </body>

</html>
