<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <script src="/javascripts/test.js"></script>
  </head>
  <body>
    <h1>NodeJS with <%= title %></h1>
    <p>Welcome to NodeJS done with <%= title %></p>
    <br />
    <h2>Learning Web site for NodeJS & <%= title %></h2>
    <p>Done by <%= name %></p>
    <div>
      <img class="img" src="/images/expressjs.jpg" alt="">
    </div>
    <div>
      <p id="demo"></p>
    </div>
    <div>
      <p id="linksNodeapi"></p>
      <ul>
        <li><a href="http://localhost:3000">home</a></li>
        <li><a href="http://localhost:3000/users">users</a></li>
        <li><a href="http://localhost:3000/otros">otros</a></li>
        <li><a href="http://localhost:3000/hello">Just told you hello</a></li>
        <li><a href="http://localhost:3000/hello.html">Hello Page</a></li>    
      </ul>
    </div>


  </body>

</html>
